window {
  opacity: 0;
  padding: 16px;
  border-radius: 8px;
  transition: opacity 75ms ease-in-out;
}

window.visible {
  opacity: 1;
}

button {
  border: 2px solid transparent;
}

button:hover {
  border-color: #595959;
}

button.current {
  border-color: #007595;
}

button.selected {
  border-color: #7dc4e4;
}
