name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: write
  attestations: write

jobs:
  release:
    runs-on: ubuntu-latest
    container: golang:1.25-trixie
    steps:
      - run: apt update && apt install -y libgtk-4-dev libgtk4-layer-shell-dev git
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/attest-build-provenance@v3
        with:
          subject-checksums: ./dist/checksums.txt
